body{background: darkred;}
h1{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
h2{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
h3{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
h4{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
h5{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
p{
color: whitesmoke;
font-family: 'Times New Roman', Times, serif;}
a{
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;}